.dropdown {
    display: inline-block;
}

.tops header {
    background-color: hsl(0, 0%, 79%);
    font-size: 20px;
    padding: 15px;
    color: white;
}

.dropdown button{
    background-color: hsl(240, 4%, 66%);
    border: none;
    padding: 10px 15px;
    color: white;
    cursor: pointer;
}

.dropdown a{
    display: block;
    color: white;
    padding: 10px 15px;
    cursor: pointer;
    text-decoration: none;
}

.dropdown .content {
    display: none;
    background-color: hsl(0, 3%, 82%);
    position: absolute;
    box-shadow: 2px 2px 2px hsla(0, 0%, 0%, 0.8);
}

.dropdown:hover .content {
    display: block;
}

.dropdown:hover button{
    background-color: hsl(0, 0%, 25%);
}

.dropdown a:hover{
    background-color: hsl(0, 0%, 25%);
}